* {
  border: dashed 1px #b82463;
}

/* nav */

nav{
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

nav a{
  list-style: none;
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: background-color 0.3s ease;
  font-size: 1.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
  background-color: rgba(162, 48, 252, 70%);
}

/* hero image, bio */

#hero, #bio{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero, bio img */

#hero img, #bio img{
  width: 80%;
  height: auto;
}

/* projects */

#projects {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
  width: 100%;
}



#small-projects{
  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;
  margin-right: 9%;
}

#small-projects, .small-project {
  flex-basis: 49%;
  max-width: 100%;
}

#small-projects .small-project img {
  max-width: 100%;
  min-width: 95%;
  height: auto;
  justify-self: center;
}

.big-project img{
  max-width: 100%;
  height: auto;
  justify-self: center;
}