/* * {
  border: dashed 1px #b82463;
} */

/* nav */

nav{
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

nav a{
  list-style: none;
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: background-color 0.3s ease;
  font-size: 1.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
  background-color: rgba(162, 48, 252, 70%);
}

/* hero image, bio */

#hero, #bio{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero, bio img */

#hero img, #bio img{
  width: 80%;
  height: auto;
}

/* projects */

#projects {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
  width: 100%;
}

#small-projects{
  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;
  margin-right: 9%;
}

#small-projects, .small-project {
  flex-basis: 49%;
  max-width: 100%;
}

#small-projects .small-project img {
  max-width: 100%;
  min-width: 95%;
  height: auto;
  justify-self: center;
}

#small-projects .penfed img {
  margin-left: 4%;
}

.big-project:first-of-type{
  margin-bottom: -5%;
}

.big-project:last-of-type{
  margin-top: -5%;
}

.big-project img{
  max-width: 100%;
  height: auto;
  justify-self: center;
}

.big-project .button-container{
  display: flex;
  flex-direction: column;
  transform: translate(55rem, -10rem);
}

.small-project .button-container{
  display: flex;
  flex-direction: column;
  transform: translate(25rem, -12rem);
}

.button-container a{
  border: none;
  padding: 6px 36px;
  background-color: #FF414D;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  margin: 4px 2px;
  cursor: pointer;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 20%;
  color: white;
}

.true-link a{
  background-color: #58acfd;
}

.movehq a{
  background-color: #ff0000;
}

.penfed a{
  background-color: #0f2c52;
}

.hazadapt a{
  background-color: #FF414D;
}

/* .button-container a{
  border: none;
  color:white;
  padding: 6px 36px;
  text-align: center;
  text-decoration: none;
  display: inherit;
  background-color: #58acfd;
  font-size: 18px;
  border-radius: 8px;
  width: 80%;
  position: relative;
  margin: 4px 2px;
  cursor: pointer;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */