.welldone-container h2 {
    color: #082B84;
}

.welldone-container .blue {
    background-color: #082B84;
}

.flow {
    width: 100%;
    margin-top: 5rem;
}

.hi-fi-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.hi-fi-mobile img {
    max-width: 16rem;
    margin-top: 3rem;
}